@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6s6d3k');
    src:    url('/fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('fonts/icomoon.woff?6s6d3k') format('woff'),
        url('fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-location2:before {
  content: "\e948";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e971";
}
.icon-cerrar:before {
  content: "\ea0f";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.burguer_button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-size: 26px;
    padding: 2px;
    position: absolute;
    left: 130px;
    z-index: 2;
    display: none;
  }
.icon-user.active {
  position: fixed;
}
#button-whatsapp {
    cursor: pointer;
    position: fixed;
    right: 5px;
    z-index: 2;
    bottom: 8vh;
}
.iconos-menu {
  color: white;
  font-size: 2rem;
  margin: 4px 0rem;
  cursor: pointer;
}
body  {
 margin: 0px;
 font-family: Source sans pro, sans-serif;
}
#logo {
    width: 79px;
    height: 79px;
    left: 38px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin: 4px;
    color: white;
    font-size: 43px;
  }
.contenedor {
      max-width: 1000px;
      height: inherit;
      display: inherit;
      justify-content: inherit;
      /* background-color: inherit; */
      margin: inherit;
      position: inherit;
      top: inherit;
      flex: 1;
      flex-wrap: inherit;
}
/* header --------------------------------------------------------------------- */
.header {
    width: 100vw;
    flex: 1;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:  darkred;
    position: fixed;
    z-index: 2;
}
.header_menu {
  padding-top: 1px;
  font-size: 16px;
}
.header ul {
  background-color: darkred;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px 19px;
}
.header a {
  text-decoration: none;
  list-style: none;
  padding: 6px 20px;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  display: flex;
}
/* prueba de carousel ------------------------------------------------------------------------------------------------*/
.carousel {
  width: 100%;
  overflow: scroll;
  /* padding: 30px; */
  position: relative;
  margin: 0px;
  }
  .iconos-menu {
    color: darkred;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 0px 0px;
  /* padding-bottom: 10px; */
}
.carousel-item {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  /* transform-origin: center left; */
  position: relative;
  margin: 1rem;
}
.carousel-item:hover ~ .carousel-item {
  /* transform: translate3d(100px, 0, 0); */
}
.carousel__container:hover .carousel-item {
  /* opacity: 0.3; */
}
.carousel__container:hover .carousel-item:hover {
  /* transform: scale(1.5); */
  /* opacity: 1; */
}
.carousel-item__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* final de prueba--------------------------------------------------------------------------------------------------- */

.hero_img {
  width: 99vw;
  height: 45vh;
  margin: 60px 0px 10px;
}
.footer {
  font-size: 19px;
  display: flex;
  height: 55px;
  background-color: black;
  justify-content: center;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
  margin-left: 10px;

}

@media screen and (max-width:838px) {
body {
  margin: 0px;
}
.nosotros{
  flex-wrap: wrap;
}
.productos_lista{
  flex-wrap: wrap;
}
.nosotros h2 {
 height: auto;
 width: auto;
 margin-bottom: 4%;
}
.nosotros p {
  height: auto;
   width: auto;
}
.hero_img {

  height: 50vw;
  object-fit: cover;
}
.productos_lista {
  align-items: center;
 }
.header {
    flex: 1;
  }
.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
/* boton Carrito de compras ---------------------------------------------------------------  */
.iconos-menu {
 color: darkred;
 font-size: 4rem;
 margin-bottom: 1rem;
 }
/* Boton principal ---------------------------------------------------------------------------- */
.burguer_button {
 left: 85vw;
 }
.header_menu_2.active {
  display: block;
 }
.burguer_button {
   display: flex;
 }

/*carousel  @media screen and (max-width:838px)------------------------------------------------------------------------------------------------*/
.carousel {
  padding: 0px;
  margin: 0px;
}
.carousel-item {
  transform-origin: none;
  width: 110px;
  height: 118px;
}
.carousel-item:hover ~ .carousel-item {
  transform: none;
}
.carousel__container:hover .carousel-item {
  opacity: none;
}
.carousel__container:hover .carousel-item:hover {
  transform: none;
  opacity: none;
}
/* final de carrucel --------------------------------------------------------------------------------------------------- */
@media screen and (max-width:630px) {
  .nosotros h2 {
   margin-bottom: 4%;
   font-size: 13vw;
  }
  .nosotros p {
    font-size: unset;
  }
  .from_email {
    margin-left: -18%
  }
   #label {
    font-size: 17px;
   }
   .social {
     margin-right: 1%;
   }
   .social_link {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 18px 6px 0px 22px;
   }
   .social_link.twitter {
     background-size: 100% 100%;
   }
   .social_link.facebook {
     background-size: 100% 100%;
   }
   .social_link.github {
     background-size: 100% 100%;
   }
   .social_link.instagram {
     background-size: 100% 100%;
   }
   .header_menu_2 {
     margin: 32px 35vw 1px 1px;
     position: relative;
     display: none;
   }
   .header_menu_a_2{
     font-size: 32px;
   }
   .header a{
     font-size: 1em;
     color: black;
   }
   .header ul {
     background-color: white;
     position: fixed;
     flex-direction: column;
     top: 62px;
     bottom: 0;
     right: 0;
     left: 0;
     margin: 0;
     padding-left: 0px;
   }
   header ul li {
     margin-top: 10px;
   }

    h2 {
     margin: 0px;
   }
   .header_menu_2 ul li {
    margin-bottom: 20px;
    }

}
